_format_version: "3.0"
_transform: true

services:
  - name: auth
    url: http://host.docker.internal:3000

  - name: property
    url: http://host.docker.internal:3001

routes:
  - name: auth-route
    service: auth
    protocols:
      - http
      - https
    paths:
      - /users
    strip_path: false

  - name: property-route
    service: property
    protocols:
      - http
      - https
    paths:
      - /properties
    strip_path: false

plugins:
  - name: cors
    config:
      origins:
        - "*"
      methods:
        - GET
        - POST
        - PUT
        - DELETE
        - OPTIONS
      headers:
        - Accept
        - Authorization
        - Content-Type
        - Origin
